<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.narmware.smartseva">

    <uses-permission android:name="android.permission.INTERNET" />
   <!-- <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->

    <application
        android:name="com.narmware.smartseva.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <receiver android:name="com.narmware.smartseva.broadcast.SMSReciver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.narmware.smartseva.MainActivity" />
        <activity android:name="com.narmware.smartseva.activity.NavigationActivity" />
        <activity android:name="com.narmware.smartseva.activity.BottomNavigationActivity" />
        <activity android:name="com.narmware.smartseva.activity.BookAppointmentActivity" />
        <activity android:name="com.narmware.smartseva.activity.LoginActivity">

        </activity>
        <activity android:name="com.narmware.smartseva.activity.RegisterActivity" />
        <activity android:name="com.narmware.smartseva.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>